{% extends 'base/base.html' %}
{% block title %}Register - Senex Trader{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card bg-dark border-secondary">
      <div class="card-body">
        <h4 class="mb-3">Create Account</h4>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

